@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #34495e;
}

.logo{
    color: wheat;
    font-weight: 400;
    order: 3;
}

nav{
    order: 1;
}

.navbar{
    display: flex;
    list-style: none;

}

.navbar li{
    padding: 0px 25px;
}

.navbar li a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}


.navbar li a:hover{
    color: yellow;
}

.btn{
    padding:7px 20px;
    background-color: #2980b9;
    border: none;
    outline: none;
    color: white;
    border-radius: 15px;
    transition: 0.3s;
    order: 2;
}

.btn:hover{
    background-color: white;
    color: #2980b9;
}