@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    color: white;
}

/* Navbar section */

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: #2C3E50;
    align-items: center;
    position: fixed;
    z-index: 99;
}

h2 {
    font-weight: normal;
}

#service,
#pricing,
#product,
#contact {
    padding-top: 70px;
}

#home {
    background-color: #3B3B98;
}

#service {
    background-color: #EAB543;
}

#pricing {
    background-color: #2A2932;
}

#product {
    background-color: #25CCF7;
}

#contact {
    background-color: #FC427B;
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

#menu li a {
    text-decoration: none;
    color: white;
    position: relative;
}

/* Hover effects for Header */

#menu li a::before {
    content: "";
    background-color: red;
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

/* left to right underline animate */
#menu li a:hover::before {
    width: 100%;
}

/* center animate */
#menu li.center a::before {
    left: 50%;
    transform: translateX(-50%);
}

/* bottom to up line animate */
#menu li.up a::before {
    width: 100%;
    bottom: -8px;
    opacity: 0;
}

#menu li.up a:hover::before {
    bottom: 0px;
    opacity: 1;
}

/* right to left underline animate */

#menu li.right a::before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
}

#menu li.right a:hover::before {
    transform: scaleX(1);
}

#txtsearch {
    width: 250px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 15px;
    border: none;
    outline: none;
}

.search {
    display: flex;
}

/* Home page */

.home-box {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('./images/sunrise.jpg');
}

.banner h1 {
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: orangered;
    text-shadow: 2px 1px 2px gold;
}

.banner p {
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
}

.banner a {
    color: white;
}

.login {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #2C3E50;
    border-radius: 7px;
}


.form-group label,
.form-group input {
    display: block;
}

.form-group label {
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: gold;
}

.form-group input {
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #d2dae2e3;
    padding: 10px 5px;
}

.login h2 {
    font-weight: bold;
    font-size: 22px;
    color: orangered;
    margin-bottom: 10px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: goldenrod;

}

.login button {
    width: 130px;
    height: 30px;
    margin-top: 10px;
    border: 3px solid goldenrod;
    border-radius: 3px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: orangered;
    position: relative;

}


/* Service Section */

#service h2,
#service h2+p {
    text-align: center;
    margin-top: 10px;
}

#service h2 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    margin-bottom: 10px;
    color: orangered;
}

.card {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.card-box {
    width: 300px;
    height: 450px;
    margin-left: 25px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s ease;


}

.card-box:hover {
    transform: scale(1.2);
}


.content {
    padding: 10px;
}

.content h3 {
    padding: 10px;
    border-bottom: 1px solid rgb(67, 53, 53);
}

.content p {
    padding: 10px;
    font-size: 15px;
}



.image {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card-box:nth-child(1) .image {
    background-color: #0984e3;
}

.card-box:nth-child(2) .image {
    background-color: orangered;
}

.card-box:nth-child(3) .image {
    background-color: #55efc4;
}

.card-box:nth-child(4) .image {
    background-color: #e84393;
}

/* Pricing Section */

#pricing h2,
#pricing p{
    text-align: center;
}

#pricing h2{
    font-size: 30px;
    padding: 10px;
}

#pricing h2+p{
    padding-bottom: 10px 80px;
}

.box-holder{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25CCF7;
}

.box{
    width: 350px;
    height: 450px;
    margin-left: 30px;
    background-color: white;
    color: white;
    text-align: center;
}

.box .box-title h5{
    font-size: 18px;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.box .box-title h3{
    font-size: 35px;
} 
.box .box-title p{
    padding-bottom: 10px;
}

.bg1{background-color: #573ABA;}
.bg2{background-color: #8FC305;}
.bg3{background-color: #EC6011;}


.box-content ul{
    margin-top: 30px;
    margin-bottom: 30px;
}


.box-content ul li{
    list-style: none;
    color: black;
    text-align: left;
    text-indent: 25%;
    margin: 10px 0px;
}

.box-content a{
    text-decoration: none;
    background-color: #EC6011;
    color: white;
    padding: 10px 20px;
}


.tick::before{
content:"\2713";
padding-right: 5px;
color: green;
font-weight: bold;

}

.wrong::before{
content: "\2715";
padding-right: 5px;
color: red;
font-weight: bold;

}

/* Contact section */

.contact-box {
    width: 700px;
    min-height: 400px;
    padding: 20px;
    border-radius: 3px;
    background-color: rgba(59, 5, 5, 0.223);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact-box h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 18px;
    letter-spacing: 1px;
}

.contact-box table {
    width: 100%;
}

.contact-box table td {
    padding: 10px 20px;
}

.contact-box table td input {
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 3px;
    padding: 10px 10px;
    border: none;
    outline: none;
}

.txtarea label,
.txtarea textarea {
    display: block;
}

.txtarea td textarea {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding: 10px 10px;
    resize: none;
    border: none;
    outline: none;
}

.sendbtn {
    width: 120px;
    height: 35px;
    background-color: black;
    color: #FC427B;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
}